<%= form_for(@comment, remote: true) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
   <div class="field">
   	   <%= f.text_area :content %>
   </div>
   <%= f.submit "post", class: "btn btn-large btn-primary" %>
<% end %>