<footer class="footer">
	<small>
		<a href="https://github.com/xieyizun">My GitHub</a>
		by Xieyizun
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.sysu.edu.cn/2012/cn/index.htm">News</a></li>
		</ul>
	</nav>
</footer>
